body {
	margin: 0;
    padding: 0;
    font-family: 'Caveat Brush', cursive;
    letter-spacing: 2px;
    color: #fff;
}

.sn-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, rgba(206, 187, 187, 0.3), rgba(141, 114, 114, 0.3)), url(../img/bg.png);
    background-position: center;
    background-size: cover;
}

.sn-heading {
    margin: 0 0 1em;
    font-size: 3em;
}

/* settings */
.sn-settings {
    padding: 3em 3em 2.6em;
    background: rgba(235, 170, 27, 0.9);
    border: 2px solid #615959;
    box-shadow: 0px 0px 3px #5c5241;
}

.sn-settings__title {
    padding: 0.1em 0.3em;
    font-size: 1.8em; 
    font-weight: 700;
    color: #5d4343;
    background: rgba(253, 253, 250, 0.8);
    border: 2px solid #7f6b6b;
    border-radius: 11px;
    box-shadow: 0px 0px 6px #5c5241;
}

.sn-settings__option {
    margin-bottom: 1.5em;
}

.sn-settings__option-label {
    padding: 0 0.8em 0 0;
    font-weight: 700;
    font-size: 1.5em;
}

.sn-settings__select {
    height: 32px;
    padding: 0 3px;
    background: #fff;
    font-size: 1em;
    border: 1px solid #7f6b6b;
    border-radius: 4px;
}

.sn-settings__start-btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 2.2em;
}

.sn-settings__start-btn {
    padding: 0.2em 0.7em;
    font-family: 'Caveat Brush', cursive;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.8em;
    background:rgba(253, 253, 250, 0.8);
    color: #5d4343;
    border: 1px solid #7f6b6b;
    border-radius: 11px;
    box-shadow: 0px 0px 6px #5c5241;
    cursor: pointer;
}

.sn-settings__start-btn:hover {
    background: #e2dada;
}

/* game */
.sn-game-wrap {
    display: none;
}

.sn-game {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.6em;
}

.sn-game__canvas {
    margin-bottom: 2em;
    border: 1px solid #7f6b6b;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #5c5241;
}

.sn-game__score-list {
    font-size: 0.9em;
    line-height: 1.5em;
}

.sn-game__score-list-item {
    font-weight: 700;
}

.sn-game__score-txt {
    margin: 0 0 1em;
}

.sn-game__best-scores {
    margin: 0 0 0 50px;
}

.sn-game__best-score-txt {
    margin: 0 0 1em;
}